This file aims to gain:
1. dataframe of the information about student accommodations from Unite Students, iQ,Urbanest, Chapter and Scape. 
2. dataframes of agerage time from each accommodation to nearby convenience stores, supermarkets, restaurants, pharmacies, underground and bus stops.

In [2]:
import requests
import pandas as pd
import json
import googlemaps
import regex as re
import pickle

In [22]:
def nearby_search(keyword,location='51.533838%2C-0.041661'):
    url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={location}&radius=7000&type=student hall&keyword={keyword}&key=AIzaSyBRI4JnazdD9qeGeMyQyR2dZ7NjwRFggmI"
    response = requests.get(url)
    results = json.loads(response.text)
    return results

In [23]:
def text_search(keyword):
    url = f"https://maps.googleapis.com/maps/api/place/textsearch/json?query={keyword}&key=AIzaSyBRI4JnazdD9qeGeMyQyR2dZ7NjwRFggmI"
    response = requests.get(url)
    results = json.loads(response.text)
    return results

In [24]:
def tr_to_df(gm_dic):
    list = ['ltd','chapter house','72','education',
            'deli','verses','one','Cribs','Curve',
            'Office','HQ']
    address = gm_dic['formatted_address'].split('London')[0].replace(',','')
    if gm_dic['name'] == 'Urbanest':
        if len(address.split(' '))>3:
            _name = gm_dic['name'] + f" {address.split(' ')[1]} {address.split(' ')[2]}"
        else:
            _name = gm_dic['name'] + f" {address.split(' ')[0]} {address.split(' ')[1]}"
    elif gm_dic['name'] == 'Chapter':
         _name = 'Chapter Lewisham'
    elif gm_dic['name'] == 'Paris Gardens':
        _name = 'iQ Student Accommodation Paris Gardens'
    elif gm_dic['name'] == 'Unite Students':
        return None
    elif 'Ltd' in gm_dic['name']:
        return None
    else:
        _name = gm_dic['name']
    for word in list:
        if word in gm_dic['name']:
            return None
    location = gm_dic['geometry']['location']
    parsed_data = {"name": _name, 
                   "latitude": location['lat'],'longitude':location['lng'],
                   "postcode": re.findall(r'[A-Z]{1,2}[0-9R][0-9A-Z]? [0-9][A-Z]{2}', gm_dic['formatted_address'])}
    df = pd.DataFrame(parsed_data, index=[0]) 
    return df

In [25]:
def gm_to_df(gm_dic):
    location = gm_dic['geometry']['location']
    def find_pc(lat,lng):
        url = f"https://maps.googleapis.com/maps/api/geocode/json?latlng={lat},{lng}&key=AIzaSyBRI4JnazdD9qeGeMyQyR2dZ7NjwRFggmI"
        response = requests.get(url)
        results = json.loads(response.text)
        k = results['results'][0]
        return k['formatted_address']
    address = find_pc(location['lat'],location['lng'])
    parsed_data = {"name": gm_dic['name'], 
                   "latitude": location['lat'],'longitude':location['lng'],
                   "postcode": re.findall(r'[A-Z]{1,2}[0-9R][0-9A-Z]? [0-9][A-Z]{2}', address)}
    df = pd.DataFrame(parsed_data, index=[0]) 
    return df

In [26]:
def extra_search(list):
        s_list = []
        for word in list:
            search_result = text_search(word)
            for result in search_result['results']:
                s_list.append(tr_to_df(result))
        return pd.concat(s_list)

In [27]:
urb_gm = text_search('Urbanest')
list_of_udfs = [tr_to_df(result) for result in urb_gm['results']]
df_urbanest = pd.concat(list_of_udfs)

In [28]:
scp_gm = text_search('scape student accommodations')
list_of_spfs = [tr_to_df(result) for result in scp_gm['results']]
df_scape = pd.concat(list_of_spfs[:7])

In [29]:
chap_gm = text_search('Chapter student house')
list_of_chapdfs = [tr_to_df(result) for result in chap_gm['results']]

chap_extra=extra_search(['Chapter White City','Chapter Ealing Student Accommodation',
            'Chapter Portobello','Chapter Highbury II',
            'Lewisham chapter'])
list_of_chapdfs.append(chap_extra)
df_chap = pd.concat(list_of_chapdfs).drop_duplicates()

In [30]:
unite_gm = nearby_search('Unite Students')
list_of_unisdfs = [gm_to_df(result) for result in unite_gm['results']]
df_uni_s = pd.concat(list_of_unisdfs).set_index('name',drop=False)

In [31]:
unite_gm2 = text_search('Unite Students')
list_of_unisdfs2 = [tr_to_df(result) for result in unite_gm2['results']]
df_uni_s2 = pd.concat(list_of_unisdfs2)

In [32]:
for name in df_uni_s['name']:
    for name2 in df_uni_s2['name']:
        if name2 == name:
            df_uni_s.drop(index=name2,inplace=True)

In [33]:
unite_gm3 = extra_search(['Unite students north','unite students arch view house',
                          'unite students Olympic way','unite student sherren house',
                          'unite students station court','unite students angel lane',
                          'unite students mary brancker house'])

df_unite = pd.concat([df_uni_s2,df_uni_s,unite_gm3]).drop_duplicates()

In [34]:
df_unite.reset_index(drop=True,inplace=True)

In [35]:
iq_gm = text_search('IQ student accommodation')
list_of_iq = [tr_to_df(result) for result in iq_gm['results']]
df_iq = pd.concat(list_of_iq)

In [36]:
df_halls = pd.concat([df_urbanest,df_unite,df_chap, df_iq,df_scape],ignore_index=True)
df_halls

                           name   latitude  longitude  postcode
0          Urbanest Canal Reach  51.539557  -0.125311   N1C 4BD
1               Urbanest Hoxton  51.529786  -0.086609    N1 6AA
2   Urbanest Westminster Bridge  51.500474  -0.116085   SE1 7FR
3           Urbanest St Pancras  51.537988  -0.130741   N1C 4BN
4                 Urbanest City  51.512237  -0.076242  EC3N 2PX
..                          ...        ...        ...       ...
73            Scape Kings Cross  51.527213  -0.125335  WC1H 9QH
74             Scape Shoreditch  51.527310  -0.086532    N1 6DX
75               Scape Mile End  51.526911  -0.041004    E1 4DR
76                Scape Wembley  51.560956  -0.277686   HA9 0LR
77           Scape Canada Water  51.498977  -0.045028  SE16 6BL

[78 rows x 4 columns]

In [37]:
df_halls.to_pickle('four_brands_halls')

In [38]:
df_halls= pd.read_pickle('four_brands_halls')
df_halls

                           name   latitude  longitude  postcode
0          Urbanest Canal Reach  51.539557  -0.125311   N1C 4BD
1               Urbanest Hoxton  51.529786  -0.086609    N1 6AA
2   Urbanest Westminster Bridge  51.500474  -0.116085   SE1 7FR
3           Urbanest St Pancras  51.537988  -0.130741   N1C 4BN
4                 Urbanest City  51.512237  -0.076242  EC3N 2PX
..                          ...        ...        ...       ...
73            Scape Kings Cross  51.527213  -0.125335  WC1H 9QH
74             Scape Shoreditch  51.527310  -0.086532    N1 6DX
75               Scape Mile End  51.526911  -0.041004    E1 4DR
76                Scape Wembley  51.560956  -0.277686   HA9 0LR
77           Scape Canada Water  51.498977  -0.045028  SE16 6BL

[78 rows x 4 columns]

In [3]:
def get_crime_rank(postcode):
    mark = 0
    for year in ['2019','2020','2021','2022']:
        if year == '2022':
            url = f'https://ukcrimestats.com/api/crime_rate_rank/postcode/{postcode}/0.25/key=404c5deb4bf343d1cacf1a02fad1f89b'
            response = requests.get(url)
            results = json.loads(response.text)
            if len(results) != 1:
                mark += float(results['total'])
        else:
            url = f'https://ukcrimestats.com/api/crime_rate_rank/postcode/{postcode}/0.25/{year}/key=404c5deb4bf343d1cacf1a02fad1f89b'
            response = requests.get(url)
            results = json.loads(response.text)
            if len(results) != 1:
                mark += float(results['total'])
    return mark/4

In [5]:
g = 'https://ukcrimestats.com/api/crime_rate_rank/postcode/SE166BL/0.25/key=06b1a014384b4cc6356e05f960204180'
sresponse = requests.get(g)
json.loads(sresponse.text)

{'asb': '0.000',
 'burglary': '0.000',
 'robbery': '0.000',
 'vehicle': '0.000',
 'violent': '0.000',
 'shoplifting': '0.000',
 'criminal_damage_and_arson': '0.000',
 'other_theft': '0.000',
 'drugs': '0.000',
 'bike_theft': '0.000',
 'theft_from_the_person': '0.000',
 'weapons': '0.000',
 'public_order': '0.000',
 'other': '0.000',
 'total': '0.000'}

In [18]:
w1 = f'https://ukcrimestats.com/api/crime_rate/postcode/E1 4DR/0.25/2019-03/key=06b1a014384b4cc6356e05f960204180'
response1 = requests.get(w1)
result1 = json.loads(response1.text)
result1

{'asb': '2.8447',
 'burglary': '0.6693',
 'robbery': '1.5060',
 'vehicle': '0.8367',
 'violent': '2.0080',
 'shoplifting': '12.5502',
 'criminal_damage_and_arson': '1.1714',
 'other_theft': '0.0000',
 'drugs': '0.0000',
 'bike_theft': '1.0040',
 'theft_from_the_person': '0.0000',
 'weapons': '0.0000',
 'public_order': '0.5020',
 'other': '0.0000',
 'total': '1.6734'}

In [19]:
w3 = 'https://ukcrimestats.com/api/crime_rate_rank/postcode/E1 4DR/0.25/2019/key=06b1a014384b4cc6356e05f960204180'
response3 = requests.get(w3)
result3 = json.loads(response3.text)
crime_rate_rank = result3['total']
crime_rate_rank

'82.650'

In [5]:
get_crime_rank('E1 4DR')

84.79725

In [40]:
pc_list = []
for postcode in df_halls['postcode']:
    pc_list.append(get_crime_rank(postcode))

In [41]:
df_pc = pd.DataFrame({"crime rate score":pc_list})

In [42]:
dfhalls = df_halls.join(df_pc)

In [115]:
df_pc

    crime rate score
0           81.84925
1           82.49350
2           97.25050
3           79.81875
4           97.38350
..               ...
73          92.06825
74          91.88650
75          84.66200
76          97.15825
77           0.00000

[78 rows x 1 columns]

In [43]:
dfhalls.to_pickle('with crime rate')

In [44]:
dfhalls = pd.read_pickle('with crime rate')

In [62]:
dfhalls

,name,latitude,longitude,postcode,crime rate score
0,Urbanest Canal Reach,51.539557,-0.125311,N1C 4BD,81.84925
1,Urbanest Hoxton,51.529786,-0.086609,N1 6AA,82.49350
2,Urbanest Westminster Bridge,51.500474,-0.116085,SE1 7FR,97.25050
3,Urbanest St Pancras,51.537988,-0.130741,N1C 4BN,79.81875
4,Urbanest City,51.512237,-0.076242,EC3N 2PX,97.38350
...,...,...,...,...,...
73,Scape Kings Cross,51.527213,-0.125335,WC1H 9QH,92.06825
74,Scape Shoreditch,51.527310,-0.086532,N1 6DX,91.88650
75,Scape Mile End,51.526911,-0.041004,E1 4DR,84.66200
76,Scape Wembley,51.560956,-0.277686,HA9 0LR,97.15825
77,Scape Canada Water,51.498977,-0.045028,SE16 6BL,0.00000

1.violent

2.weapon

3.burglary

4.robbery

5.theft from the person

6.bike theft(Theft or unauthorised taking of a pedal cycle)

7.shoplifting

8.other theft

9.criminal_damage_and_arson

10.public_order

11.drugs

12.vehicle

13.asb

14.other

https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/977202/count-offence-classification-index-apr-2021.pdf

In [45]:
_dic = df_halls.to_dict()
location_dic = {}
for i in range(len(_dic['latitude'])):
    location_dic[i] = [_dic['latitude'][i],_dic['longitude'][i]]

In [46]:
def nearby_buildings(location,keyword):
    gmaps = googlemaps.Client(key='AIzaSyBRI4JnazdD9qeGeMyQyR2dZ7NjwRFggmI')
    url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={location[0]}%2C{location[1]}&keyword={keyword}&rankby=distance&key=AIzaSyBRI4JnazdD9qeGeMyQyR2dZ7NjwRFggmI"
    response = requests.get(url)
    results = json.loads(response.text)
    def find_place(valid_number):
        t_dis = 0
        for i in range(valid_number):
            destination = results['results'][i]['place_id']
            my_dist = gmaps.distance_matrix(f'{location[0]},{location[1]}',f'place_id:{destination}',mode='walking')['rows'][0]['elements'][0]
            if my_dist['status'] == 'OK':
                t_dis += my_dist['duration']['value']
            else:
                valid_number -= 1
        if valid_number == 0:
            return 'NaN no_dis_info'
        else:
            return round(t_dis//valid_number/60,2)
    if results['status'] == 'OK':
        if 'bus' in keyword or 'underground' in keyword:
                if len(results['results']) > 1:
                    return find_place(1)
                elif len(results['results']) == 1:
                    return find_place(1)
                else:
                    return 'NaN no_results'
        else:
            if len(results['results']) >= 5:
                return find_place(5)
            elif len(results['results'])<5:
                return find_place(len(results['results'])-1)
    else:
        return 'NaN no_results'

In [53]:
def distance_to_school(location):
    gmaps = googlemaps.Client(key='AIzaSyBRI4JnazdD9qeGeMyQyR2dZ7NjwRFggmI')   
    lse_id = text_search('LSE main campus')['results'][0]['place_id']
    kcl_id = text_search('KCL main campus')['results'][0]['place_id']
    ucl_id = text_search('UCL main campus')['results'][0]['place_id']
    lcf_id = text_search('LCF main campus')['results'][0]['place_id']
    
    parsed_data = {"LSE": round(gmaps.distance_matrix(f'{location[0]},{location[1]}',f'place_id:{lse_id}')['rows'][0]['elements'][0]['distance']['value']/1000,1),
                   "KCL": round(gmaps.distance_matrix(f'{location[0]},{location[1]}',f'place_id:{kcl_id}')['rows'][0]['elements'][0]['distance']['value']/1000,1),
                   'UCL': round(gmaps.distance_matrix(f'{location[0]},{location[1]}',f'place_id:{ucl_id}')['rows'][0]['elements'][0]['distance']['value']/1000,1),
                   "LCF": round(gmaps.distance_matrix(f'{location[0]},{location[1]}',f'place_id:{lcf_id}')['rows'][0]['elements'][0]['distance']['value']/1000,1)}
    df = pd.DataFrame(parsed_data, index=[0]) 
    return df

In [54]:
distance_to_school([51.498977,-0.045028])

   LSE  KCL  UCL   LCF
0  7.2  6.8  9.6  11.1

In [57]:
school_distance = []
for location in location_dic:
    school_distance.append(distance_to_school(location_dic[location]))

In [96]:
df_sds = pd.concat(school_distance)

In [98]:
w = df_sds.reset_index()

In [103]:
dis_to_school = df_halls.join(w).drop(columns=['latitude', 'longitude','postcode','index'])

In [104]:
dis_to_school.to_pickle('distance to schools')

In [105]:
csd_list = []#distance to convenience store
sm_list = []#distance to supermarket
rr_list = []#distance to restaurant
bs_list = []#distance to bus stop
pha_list = []#distance to pharmacy
for location in location_dic:
    csd_list.append(nearby_buildings(location_dic[location],'convenience store'))    
    sm_list.append(nearby_buildings(location_dic[location],'supermarket'))
    rr_list.append(nearby_buildings(location_dic[location],'restaurant'))
    bs_list.append(nearby_buildings(location_dic[location],'bus stop'))    
    pha_list.append(nearby_buildings(location_dic[location],'pharmacy'))
    
conv_dis = pd.DataFrame({'avg time to nearby convenience stores':csd_list})
sm_dis  = pd.DataFrame({'avg time to nearby supermarkets':sm_list})
rr_dis = pd.DataFrame({'avg time to nearby restaurants':rr_list})
bs_dis  = pd.DataFrame({'avg time to nearby bus stops':bs_list})
pha_dis = pd.DataFrame({'avg time to nearby pharmacy':pha_list})

In [106]:
us_list = []#distance to underground station
for location in location_dic:    
    us_list.append(nearby_buildings(location_dic[location],'underground station'))

In [107]:
us_dis = pd.DataFrame({'avg time to nearby underground station':us_list})

In [108]:
us_dis

    avg time to nearby underground station
0                                    12.08
1                                     5.58
2                                     6.35
3                                    12.35
4                                     4.67
..                                     ...
73                                    7.33
74                                    2.60
75                                   10.18
76                                    4.58
77                                    4.93

[78 rows x 1 columns]

In [109]:
dis_list = [conv_dis,sm_dis,rr_dis,bs_dis,us_dis,pha_dis]

In [110]:
dis_dfs = pd.concat(dis_list,axis=1)

In [111]:
dis_dfs

,avg time to nearby convenience stores,avg time to nearby supermarkets,avg time to nearby restaurants,avg time to nearby bus stops,avg time to nearby underground station,avg time to nearby pharmacy
0,8.40,7.03,4.17,1.10,12.08,11.80
1,2.55,2.72,3.87,0.02,5.58,7.32
2,4.37,3.70,2.68,2.10,6.35,5.90
3,7.40,10.20,8.23,8.65,12.35,12.38
4,2.60,5.55,1.87,1.05,4.67,11.07
...,...,...,...,...,...,...
73,4.70,4.55,1.57,4.23,7.33,5.65
74,4.68,4.97,3.38,1.55,2.60,8.42
75,10.22,13.83,12.80,13.63,10.18,15.63
76,5.97,4.93,3.82,2.35,4.58,11.73
77,7.43,12.20,9.63,2.22,4.93,20.23

In [112]:
c_d_df = dfhalls.drop(columns=['latitude', 'longitude','postcode'])
c_d_df = c_d_df.join(dis_dfs)

In [113]:
c_d_df.to_pickle('crime rate rank and time to places')

In [114]:
check = pd.read_pickle('crime rate rank and time to places')
check

,name,crime rate score,avg time to nearby convenience stores,avg time to nearby supermarkets,avg time to nearby restaurants,avg time to nearby bus stops,avg time to nearby underground station,avg time to nearby pharmacy
0,Urbanest Canal Reach,81.84925,8.40,7.03,4.17,1.10,12.08,11.80
1,Urbanest Hoxton,82.49350,2.55,2.72,3.87,0.02,5.58,7.32
2,Urbanest Westminster Bridge,97.25050,4.37,3.70,2.68,2.10,6.35,5.90
3,Urbanest St Pancras,79.81875,7.40,10.20,8.23,8.65,12.35,12.38
4,Urbanest City,97.38350,2.60,5.55,1.87,1.05,4.67,11.07
...,...,...,...,...,...,...,...,...
73,Scape Kings Cross,92.06825,4.70,4.55,1.57,4.23,7.33,5.65
74,Scape Shoreditch,91.88650,4.68,4.97,3.38,1.55,2.60,8.42
75,Scape Mile End,84.66200,10.22,13.83,12.80,13.63,10.18,15.63
76,Scape Wembley,97.15825,5.97,4.93,3.82,2.35,4.58,11.73
77,Scape Canada Water,0.00000,7.43,12.20,9.63,2.22,4.93,20.23